<ion-view>

  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <a class="button icon-left ion-ios-arrow-left button-clear" ng-click="return();">
        <span style="font-size: 15px;" translate="index">首页</span>
        </a>
    </div>
    <h1 class="title" translate="choose_title">挑战者模式</h1>
  </ion-header-bar>

  <ion-content class="content has-header padding flex-container" overflow-scroll="false">
    <div class="flex-item">

      <p><a href="javascript:;" ng-click="gradeone();" class="button button-outline button-positive button-block" translate="gradeone">初级</a></p>
      <p style="margin-top: 30px;"><a href="javascript:;" ng-click="gradetwo();" class="button button-outline button-positive button-block" translate="gradetwo">中级</a></p>
      <p style="margin-top: 30px;"><a href="javascript:;" ng-click="gradethree();" class="button button-outline button-positive button-block" translate="gradethree">高级</a></p>

    </div>
  </ion-content>
</ion-view>  