<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
     <div class="buttons">
        <a class="button icon-left ion-ios-arrow-left button-clear" ng-click="return();">
        <span style="font-size: 15px;" translate="index">首页</span>
        </a>
    </div>
    <h1 class="title" translate="qrCode_title">App二维码</h1>
  </ion-header-bar>
  <ion-content class="padding" style="text-align:center;" overflow-scroll="false">
    <div style="text-align: center;display: table-cell;vertical-align:middle; display: block; margin-top: 25px;margin-bottom: 10px;">
      <wminfo size="5" infostr='http://a.app.qq.com/o/simple.jsp?pkgname=com.ionicframework.for100101788' forecolor="#cd5c5c" backcolor="">
      </wminfo>
    </div> 
    <div style="margin-top: 20px;">
      <p translate="qrCode_info">扫一扫上面的二维图案，下载app。</p>
    </div>     
  </ion-content>
</ion-view>
