<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
     <div class="buttons">
        <a class="button icon-left ion-ios-arrow-left button-clear" ng-click="return();">
        <span style="font-size: 15px;" translate="index">首页</span>
        </a>
    </div>
    <h1 class="title" translate="qrCode_gh_title">我的微信公众号</h1>
  </ion-header-bar>
  <ion-content class="padding" style="text-align:center;" overflow-scroll="false">
    <div style="text-align: center;display: table-cell;vertical-align:middle; display: block; margin-top: 25px;margin-bottom: 10px;">
      <img height="245" width="245" ng-src="img/gh.jpg"  alt=""/>
    </div> 
    <div style="margin-top: 20px;">
      <p translate="qrCode_gh_info">扫一扫上面的二维图案，来我的微信公众号吐槽吧。</p>
    </div>     
  </ion-content>
</ion-view>
